{% extends "layout.twig" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in posts %}
        <div class="post-preview">
            <a href="/index.php?controller=Blog&action=renderPost&id={{ post.id }}">
              <h2 class="post-title text-center">{{ post.title }}</h2>
            </a>
            <p>
              {{ post.content }}
            </p>
            <div class="flex-container post-details">
              <p class="post-meta">Posté par {{ post.getAuthor }} le {{ post.createdAt }}
                {% if post.createdAt != post.updatedAt %}
                (édité le {{ post.updatedAt }})
                {% endif %}
              </p>
            </div>
            <hr>
          </div>
      {% endfor %}
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-secondary float-right" href="/">Retour à l'accueil</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
