{% extends "layout.twig" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in posts %}
        <div class="post-preview">
            <a href="/index.php?controller=Blog&action=renderPost&id={{ post.id }}">
              <h2 class="post-title text-center">{{ post.title }}</h2>
            </a>
            <p>
              {{ post.content }}
            </p>
            <div class="flex-container post-details">
              <p class="post-meta">Posté par <a href="#">Joffrey</a> le {{ post.createdAt }}</p>
              {% if session.user %}>
                <p><a href="/index.php?controller=Blog&action=editPostView&id={{ post.id }}">Editer</a></p>
                <p><a href="/index.php?controller=Blog&action=deletePost&id={{ post.id }}" class="deletePost">Supprimer</a></p>
              {% endif %}
            </div>
            <hr>
          </div>
      {% endfor %}
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-secondary float-right" href="/">Retour à l'accueil</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
