{% extends "layout.twig" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{ block('alert') }}
        <div class="post-preview">
              <h2 class="post-title text-center">{{ post.title }}</h2>
              <p>
                {{ post.content }}
              </p>
              <div class="flex-container post-details">
                <p class="post-meta">Posté par {{ post.getAuthor }} le {{ post.createdAt }}
                  {% if post.createdAt != post.updatedAt %}
                  (édité le {{ post.updatedAt }})
                  {% endif %}
                </p>
                {% if session.user %}
                  <p><a href="/index.php?controller=Blog&action=editPostView&id={{ post.id }}">Editer</a></p>
                  <p><a href="/index.php?controller=Blog&action=deletePost&id={{ post.id }}" class="deletePost">Supprimer</a></p>
                {% endif %}
                {% if comments|length > 0 %}
                  <p><a href="#" title="Voir les commentaires pour ce post" class="show-comments">({{ comments|length }}) commentaire(s)</a></p>
                {% endif %}
              </div>
              <hr>
              <div class="comment-section" style="display:none;">
                {% for comment in comments %}
                <div class="flex-container">
                  <p>{{ comment.content }}</p>
                  <p>le {{ comment.createdAt }}</p>
                </div>
                <p>par <i>{{ comment.getAuthor }}</i></p>
                <p><a href="/index.php?controller=Blog&action=deleteComment&id={{ comment.id }}" class="deleteComment">Supprimer</a></p>
                <hr>
                {% endfor %}
              </div>
        </div>
    </div>
  </div>
  {% if session.user %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <form action="index.php?controller=Blog&action=commentPost&id={{ post.id }}" method="post">
          <div class="form-group">
            <label for="content">Ajouter un commentaire *</label>
            <textarea class="form-control" name="content" id="content" rows="8" cols="80" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary float-right" id="add-comment">Commenter</button>
        </form>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-secondary" href="/">Retour à l'accueil</a>
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}
