{% extends "layout.twig" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
              <h2 class="post-title text-center">{{ post.title }}</h2>
              <p>
                {{ post.content }}
              </p>
              <div class="flex-container post-details">
                <p class="post-meta">Posté par <a href="#">Joffrey</a> le {{ post.created_at }}</p>
                {% if comments|length > 0 %}
                  <p><a href="#" title="Voir les commentaires pour ce post" class="show-comments">({{ comments|length }}) commentaire(s)</a></p>
                {% endif %}
              </div>
              <hr>
              <div class="comment-section" style="display:none;">
                {% for comment in comments %}
                <div class="flex-container">
                  <p>{{ comment.content }}</p>
                  <p>le {{ comment.created_at }}</p>
                </div>
                <p>par <i>{{ comment.author }}</i></p>
                <hr>
                {% endfor %}
              </div>
        </div>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-secondary float-right" href="/">Retour à l'accueil</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
